*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/background.webp");
}

main{
  width: 80vw;
  height: 80vh;
  background: linear-gradient(to bottom, #ff0000, #fe3d3d);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

section{
  width: 100%;
}

section.populated {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.starter-text{
  padding: 0 80px;
}

form {
  height: 50px;
  width: 100%;
  display: flex;
  border-top: #ffe600 solid 2px;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

input.question-box {
  width: 85%;
  padding: 10px;
  font-size: 15px;
  color:rgb(0, 0, 0);
  border: none;
}

input[type=submit]{
  width: 15%;
  padding: 10px;
  font-size: 15px;
  border: none;
  color: #ffff;
  background-color: #000000;
}

input:focus {
  outline: none;
}

.bubble{
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  border: none;
  color: #1b1b1b;
  box-shadow: #959da533 0 8px 24px;
  width: 80%;
  text-align: left;
}

.bubble.user {
  border-radius: 20px 20px 0 20px;
  background-color: rgb(225,244,255);
  margin-left: auto;  
}

.bubble.assistant{
  border-radius: 20px 20px 20px 0;
  background-color: rgb(225,244,255);
}

.prompt-suggestion-row{
  width: 100%;
}

.prompt-suggestion-button{
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  border: none;
  background-color: #ffff;
  border-radius: 10px;
  color: #383838;
  box-shadow: #959da533 0 8px 24px;

}
.loader {
  margin: 10px auto 0 auto ;
  width: 60px;
  aspect-ratio: 4;
  background: 
  no-repeat radial-gradient(circle closest-side, #000000 90%, #32323200) 0 50%,
  no-repeat radial-gradient(circle closest-side,#000000 90%, #32323200) 50% 50%,
  no-repeat radial-gradient(circle closest-side, #000000 90%, #32323200) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: loading 1s infinite linear;
  position: absolute;
  bottom: 150px;
}

@keyframes loading {
  33% { background-size: calc(100%/3) 0, calc(100%/3) 100%, calc(100%/3) 100%;}
  50% { background-size: calc(100%/3) 100%, calc(100%/3) 0, calc(100%/3) 100%;}
  66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0;}
}